@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Extrabold.otf") format("opentype"),
    url("/Switzer-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --body: #333;
  --title: black;
  --bg: #edeade;
  --primary: #f64f02;
  --desktop: 150px;
  --tablet: 100px;
  --landscape-mobile: 80px;
  --portrait-mobile: 60px;
}

body {
  color: var(--body);
  background-color: #fffdf5;
  font-family: Switzer, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}
